{include file='header.tpl'}

<h1>Agregar un nuevo Genero</h1>

<form action="confirmarAgregarGenero" method="POST">
    <label>Nombre</label>
    <input name="nombre" type="text">
    <button type="submit">Agregar</button>
</form>

{include file='footer.tpl'}