

<form action="insertar" method="POST">

    <label>Nombre</label>
    <input name="nombre" type="text">
    <label>Duracion</label>
    <input name="duracion" type="number">
    <label>Año</label>
    <input name="anio" type="text">
    <label>Genero</label>
    <select name="genero" id="">
        <option value="1">Accion</option>
        <option value="2">Comedia</option>
        <option value="5">Terror</option>
    </select>


    <button type="submit">Agregar</button>
</form>