{include file='header.tpl'}

<form action="confirmacionEdicion/{$pelicula->id_pelicula}" method="POST">

    <label>Nombre</label>
    <input name="nombre" type="text" value="{$pelicula->nombre}">
    <label>Duracion</label>
    <input name="duracion" type="number" value="{$pelicula->duracion}">
    <label>Año</label>
    <input name="anio" type="text" value="{$pelicula->anio}">
    <label>Genero</label >
    <select name="genero" id="" value="{$pelicula->nombre}">
        <option value="1">Accion</option>
        <option value="2">Comedia</option>
        <option value="5">Terror</option>
    </select>


    <button type="submit">Confirmar</button>
    <a href="inicio"><button>Cancelar</button></a>
</form>
{include file='footer.tpl'}